---
title: Axl Softs
resources: resources
---


{% include header.html %}


<!-- Navigation panel -->

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-collapse-main">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="page-scroll navbar-brand" style="font-size: 36px;" href="#home"><b>Axl Softs</b></a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-main">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="page-scroll" href="#home">HOME</a></li>
				<li><a class="page-scroll" href="#applications">APPLICATIONS</a></li>
				<li><a class="page-scroll" href="#games">GAMES</a></li>
                <li><a class="page-scroll" href="#contact">CONTACT</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>


<!-- Home -->

<div id="home" class="home">
	<div class="text-vcenter">
		<div class="container">
			<div class="jumbotron text-center"
				style="background-image: url('{{page.resources}}/img/black_opacity_05.png'); background-color: transparent;">
				<h1 style="color: #ffffff;">Simple, Smart, Elegant</h1>
				<h3 style="color: #ffffff; padding-top: 50px;">
					Scroll to discover our mobile <a class="page-scroll"
						href="#applications">applications</a> and <a class="page-scroll"
						href="#games">games</a>
				</h3>
				<h3 style="color: #ffffff; padding-top: 50px; padding-bottom: 20px;">
					or find them directly on <a
						href="https://play.google.com/store/apps/developer?id=Axl+Softs">Google
						Play</a>
				</h3>
				<a href="https://play.google.com/store/apps/developer?id=Axl+Softs">
					<img alt="Google Play"
					src="{{page.resources}}/img/en_app_rgb_wo_60.png" />
				</a>
			</div>
		</div>
	</div>
</div>


<!-- Applications -->

<div id="applications" class="pad-section">
	<div class="container">
		<h1><b>Applications</b></h1>
	</div>
</div>

<div id="applications-content" class="pad-section">
	<div class="container">
    {% include applications/christmas.html %}<br/>
    {% include applications/sky-events.html %}<br/>
	{% include applications/easy-budget.html%}<br/>
	{% include applications/unix-time.html %}
	</div>
</div>


<!-- Games -->

<div id="games" class="pad-section">
	<div class="container">
		<h1><b>Games</b></h1>
	</div>
</div>

<div id="games-content" class="pad-section">
	<div class="container">
		{% include games/tolum.html %}
	</div>
</div>

<!-- Contact -->

<div id="contact" class="pad-section">
	<div class="container">
		<h3>Need help, or want to make a suggestion?</h3>
		<h4 style="padding-top: 20px;">
			Contact us at <a href="mailto:support@axlsofts.com"
				style="color: #666;">support@axlsofts.com</a>
		</h4>
		<br /> <a class="twitter-follow-button"
			href="https://twitter.com/AxlSofts" data-show-count="false"
			data-size="large"> Follow
			@AxlSofts</a>
		<script>
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>
        &nbsp;&nbsp;&nbsp; <a
            class="twitter-share-button" href="https://twitter.com/share"
            data-size="large" data-count="none"
            data-url="http://www.axlsofts.com/"> Tweet</a>
		<script>
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
                if (d.getElementById(id))
                    return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>
	</div>
</div>

<div class="container"><small style="color: #666;">Copyright (c) 2014 Axl Softs</small></div>

{% include footer.html %}
