---
title: Axl Softs
resources: resources
---


{% include header.html %}



<!-- Home -->

<div id="home" class="home">
		<div class="container">
			<div class="jumbotron text-center"
				style="background-image: url('{{page.resources}}/img/black_opacity_05.png'); background-color: transparent;">
				<h1 style="color: #ffffff;">How to use a redeem code</h1>
			</div>
<div class="jumbotron"
	style="background-image: url('{{page.resources}}/img/black_opacity_075.png'); background-color: transparent; color: #ffffff; border: 1px solid rgba(255, 255, 255, .7);">

<h3>1. Launch the app</h3>
<h3>2. Open the menu (button at top-left of the screen), and choose "Remove ads". The Google Play pop-up will appear.</h3>
<h3>3. In below example, click on MasterCard-6191 and then choose "Redeem".</h3>
						<img
							src="{{page.resources}}/img/redeem/christmas/01.png"
							width="25%">
						<img
							src="{{page.resources}}/img/redeem/christmas/02.png"
							width="25%">
<h3>4. ​Enter or copy/paste the redeem code.</h3> 
						<img
							src="{{page.resources}}/img/redeem/christmas/03.png"
							width="25%">
						<img
							src="{{page.resources}}/img/redeem/christmas/04.png"
							width="25%">
						<img
							src="{{page.resources}}/img/redeem/christmas/05.png"
							width="25%">

<h2><b>Now, you should not have ads anymore   :)</b></h2>

</div>


	</div>
</div>


<!-- Contact -->

<div id="contact" class="pad-section">
	<div class="container">
		<h3>Need help, or want to make a suggestion?</h3>
		<h4 style="padding-top: 20px;">
			Contact us at <a href="mailto:support@axlsofts.com"
				style="color: #666;">support@axlsofts.com</a>
		</h4>
		<br /> <a class="twitter-follow-button"
			href="https://twitter.com/AxlSofts" data-show-count="false"
			data-size="large"> Follow
			@AxlSofts</a>
		<script>
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>
        &nbsp;&nbsp;&nbsp; <a
            class="twitter-share-button" href="https://twitter.com/share"
            data-size="large" data-count="none"
            data-url="http://www.axlsofts.com/"> Tweet</a>
		<script>
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
                if (d.getElementById(id))
                    return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>
	</div>
</div>

<div class="container"><small style="color: #666;">Copyright (c) 2014 Axl Softs</small></div>

{% include footer.html %}
