<div class="jumbotron"
	style="background-image: url('{{page.resources}}/img/black_opacity_075.png'); background-color: transparent; color: #ffffff; border: 1px solid rgba(255, 255, 255, .7);">
	<div class="row" style="padding-bottom: 30px;">
		<div class="col-md-1 col-xs-2">
			<img src="{{page.resources}}/img/games/tolum/icon_128.png"
				width="64px">
		</div>
		<div class="col-md-11 col-xs-10">
			<h4>
				<b>Tolum</b>
			</h4>
			<h4>Alignez 4 pions sur une grille. Vous pensez connaître ce jeu
				? C'est pas sûr !</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-5">
			<div id="carousel-tolum" class="carousel slide" data-ride="carousel"
				style="background-color: transparent;">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-tolum" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-tolum" data-slide-to="1"></li>
					<li data-target="#carousel-tolum" data-slide-to="2"></li>
					<li data-target="#carousel-tolum" data-slide-to="3"></li>
					<li data-target="#carousel-tolum" data-slide-to="4"></li>
					<li data-target="#carousel-tolum" data-slide-to="5"></li>
					<li data-target="#carousel-tolum" data-slide-to="6"></li>
					<li data-target="#carousel-tolum" data-slide-to="7"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/01.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/02.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/03.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/04.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/05.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/06.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/07.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/games/tolum/screenshots/fr/08.png"
							width="100%">
					</div>
				</div>
				<br />
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-tolum"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#carousel-tolum"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-7">
			Avec Tolum, essayez d'aligner 4 pions sur une grille hexagonale avant
			votre adversaire.<br /> <br /> Le mécanisme de base du jeu est
			similaire à celui du Puissance 4. Cependant, Tolum est bien plus
			compliqué à maîtriser, non seulement parce que la configuration de la
			grille est différente, mais également parce que vous pouvez faire
			pivoter la grille à tout moment, et remettre ainsi en cause la
			stratégie de votre adversaire. <br /> <br /> Caractéristiques du
			jeu :
			<ul>
				<li>Mode 1 joueur, pour jouer contre l'ordinateur.</li>
				<li>Mode 2 joueurs sur le même appareil.</li>
				<li>Deux tailles de grilles différentes.</li>
				<li>Possibilité de désactiver les rotations de la grille pour
					apprendre à jouer à Tolum en douceur.</li>
			</ul>
			<br /> <br /> <br /> <br />
			<div class="row">
				<div class="col-xs-6">
					<a
						href="https://play.google.com/store/apps/details?id=com.axlsofts.tolum.android"><img
						class="center-block" alt="Tolum sur Google Play"
						src="{{page.resources}}/img/fr_generic_rgb_wo_45.png" /> </a>
				</div>
				<div class="col-xs-6">
					<a href="../gaming-zone/tolum" class="btn btn-danger"><b>Jouez-y
							dans la <br>Gaming Zone!
					</b></a>
				</div>
			</div>
		</div>
	</div>
</div>
