/* general styles */
html,body {
	height: 100%;
	width: 100%;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:link {
	color: #ccc;
	text-decoration: none;
}

a:visited {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #999;
	text-decoration: none;
}

a:active {
	color: #999;
	text-decoration: none;
}

/* padded section */
.pad-section {
	padding: 50px 0;
}

/* vertical-centered text */
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

/* additional sections */
#home {
	background: url(../img/bg_home.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#applications {
	background-color: #fff;
	padding: 30px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

#applications-content {
	background: url(../img/bg_applications.jpg) no-repeat center center
		fixed;
	display: table;
	height: 800px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#applications-content .panel {
	
}

#games {
	background-color: #fff;
	padding: 30px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

#games-content {
	background: url(../img/bg_games.jpg) no-repeat center center fixed;
	display: table;
	height: 800px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#games-content .panel {
	
}

#gaming-zone {
	background: url(../img/bg_gaming_zone.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact {
	background-color: #fff;
	padding: 30px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #3c3c3c;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,.navbar-custom .navbar-brand .navbar-toggle:active
	{
	outline: 0;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	color: rgba(255, 255, 255, .8);
	background-color: transparent;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
}

.navbar-custom .nav li.active {
	outline: 0;
}

.navbar-custom .nav li.active a {
	background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
	color: #fff;
}

@media ( min-width :768px) {
	.navbar-custom {
		padding: 20px 0;
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
	.navbar-custom.top-nav-collapse {
		padding: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		background: #3c3c3c;
	}
}

footer {
	padding: 20px 0;
}

footer .glyphicon {
	color: #333333;
	font-size: 60px;
}

footer .glyphicon:hover {
	color: #306d9f;
}