<div class="jumbotron"
	style="background-image: url('{{page.resources}}/img/black_opacity_075.png'); background-color: transparent; color: #ffffff; border: 1px solid rgba(255, 255, 255, .7);">
	<div class="row" style="padding-bottom: 30px;">
		<div class="col-md-1 col-xs-2">
			<img src="{{page.resources}}/img/applications/christmas/icon_128.png" width="64px">
		</div>
		<div class="col-md-11 col-xs-10">
			<h4>
				<b>Cadeaux et Budget de Noël</b>
			</h4>
			<h4>Une application simple et élégante pour gérer cadeaux et
				budget de Noël.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-5">
			<div id="carousel-christmas" class="carousel slide"
				data-ride="carousel" style="background-color: transparent;">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-christmas" data-slide-to="0"
						class="active"></li>
					<li data-target="#carousel-christmas" data-slide-to="1"></li>
					<li data-target="#carousel-christmas" data-slide-to="2"></li>
					<li data-target="#carousel-christmas" data-slide-to="3"></li>
					<li data-target="#carousel-christmas" data-slide-to="4"></li>
					<li data-target="#carousel-christmas" data-slide-to="5"></li>
					<li data-target="#carousel-christmas" data-slide-to="6"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/01.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/02.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/03.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/04.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/05.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/06.png"
							width="100%">
					</div>
					<div class="item">
						<img
							src="{{page.resources}}/img/applications/christmas/screenshots/fr/07.png"
							width="100%">
					</div>
				</div>
				<br />
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-christmas"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#carousel-christmas"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-7">
			Grâce à cette application, vous pouvez suivre toutes vos idées
			cadeaux et votre budget au fur et à mesure de vos courses de Noël. <br />
			<br /> "Cadeaux et Budget de Noël" vous propose les fonctionnalités
			suivantes :
			<ul>
				<li>Entrez toutes vos idées cadeaux rapidement afin de n'en
					oublier aucune.</li>
				<li>Associez vos cadeaux aux personnes de votre entourage afin
					de n'oublier personne.</li>
				<li>Définissez votre budget, et suivez vos dépenses afin de le
					respecter.</li>
				<li>Marquez vos cadeaux comme achetés, et suivez d'un seul coup
					d'oeil la progression de vos courses et de votre budget.</li>
				<li>Protégez votre liste de Noël par un mot de passe.</li>
				<li>Chaque année, une nouvelle liste sera automatiquement
					créée, et les précédentes seront archivées pour être consultées à
					chaque fois que vous en aurez besoin.</li>
			</ul>
			Entièrement en français, cette application vous permettra
			d'enregistrer dès maintenant toutes vos idées cadeaux afin de ne pas
			vous faire surprendre à la dernière minute ! <br /> <br /> <br />
			<br /> <a
				href="https://play.google.com/store/apps/details?id=com.axlsofts.christmas"><img
				class="center-block" alt="Cadeaux et Budget de Noël sur Google Play"
				src="{{page.resources}}/img/fr_generic_rgb_wo_45.png" /></a>
		</div>
	</div>
</div>




