.Tolum {
    margin-top: 50px;
}

.Tolum-Jumbotron {
    border: 1px solid rgba(255, 255, 255, .7);
    background: rgba(0, 0, 0, 0.8);
}

.Tolum-Row {
    padding-bottom: 30px;
}

.Tolum p {
    font-size: 14px;
}

.Tolum-Description {
    padding-top: 50px;
}
